<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/webjars/font-awesome/5.15.4/css/all.min.css}"/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">[[#{appName}]]</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        [[#{form.login.account}]] </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div sec:authorize="isAnonymous()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/register'}">[[#{form.login.register}]]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/login'}">[[#{navbar.choice.login}]]</a>
                            </li>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a class="nav-link"
                               th:href=@{'/changePassword'}>[[#{form.login.changePassword}]] </a>
                            <a class="nav-link"
                               th:href="@{'/logout'}">[[#{navbar.choice.logout}]] </a></div>
                    </ul>
                </li>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                           th:href="@{'/products/add'}">[[#{navbar.choice.language.addProduct}]]</a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/products'}">[[#{navbar.choice.products}]]</a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/cart'}">[[#{navbar.choice.cart}]]</a>
                    </li>
                </div>


                <div sec:authorize="hasRole('ADMIN')">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">admin </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <a class="nav-link"
                               th:href="@{'/admin/orders/'}">[[#{product.order}]] </a>

                            <a class="nav-link"
                               th:href="@{'/admin/role'}">[[#{user.role}]] </a>

                            <a class="nav-link"
                               th:href="@{'/admin/products'}">[[#{navbar.choice.products}]] </a>

                        </ul>
                    </li>
                </div>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page"
                       th:text="#{navbar.loggedAs}+ ${#authentication.getPrincipal().getUsername()}">
                    </a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="d-flex align-items-center flex-nowrap">
        <a href="/products/add">
            <button type="button" class="btn btn-primary">[[#{button.addProduct}]]</button>
        </a>
        <form class="d-flex align-items-center flex-nowrap position-relative col-3" th:action="@{/products/search}">
            <input class="form-control mr-sm-2" type="text" name="keyword"
                   th:placeholder="#{button.search}"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">[[#{button.search}]]</button>
        </form>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">[[#{list.name}]]</th>
            <th scope="col">[[#{list.price}]]</th>
            <th scope="col">[[#{list.description}]]</th>
            <th scope="col">[[#{product.available}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${productsList}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>

            <td th:if="${product.available} ==true">
                <a th:href="@{'/admin/products/'+${product.id}+'/markAsNotAvailable'}"
                   class="btn btn-danger"
                   id="editButton">wylacz</button></a>
            </td>

            <td th:if="${product.available} ==false">
                <a th:href="@{'/admin/products/'+${product.id}+'/markAsAvailable'}"
                   class="btn btn-success"
                   id="editButton">wlacz</button></a>
            </td>

            <th><a th:href="@{'/admin/products/'+${product.id}}" class="btn btn-warning"
                   id="editButton">[[#{button.edit}]]</button></a></th>
            <th><a th:href="@{'/admin/products/'+${product.id}+'/delete'}" class="btn btn-danger"
                   id="deleteButton">[[#{button.delete}]]</button></a></th>
        </tr>
        </tbody>
    </table>
    <a href="/">
        <button type="button" class="btn btn-primary" onclick="javascript:history.back()">[[#{product.button.back}]]
        </button>

    </a>
</div>
<script th:src="@{~/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
