<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>set Role</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
<body>
<form th:object="${addRoleForm}" method="post" th:action="@{/admin/role}">

    <input th:field="*{login}" th:placeholder="login">
    <select th:field="*{role}">
        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
    </select>
    <button th:type="submit">add Role</button>
</form>
<a href="/">
    <button type="button" class="btn btn-primary" onclick="javascript:history.back()">[[#{product.button.back}]]
    </button>

</a>
</div>

<script th:src="@{~/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{~/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
