<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/webjars/font-awesome/5.15.4/css/all.min.css}"/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">[[#{appName}]]</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        [[#{form.login.account}]] </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div sec:authorize="isAnonymous()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/register'}">[[#{form.login.register}]]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/login'}">[[#{navbar.choice.login}]]</a>
                            </li>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a class="nav-link"
                               th:href=@{'/changePassword'}>[[#{form.login.changePassword}]] </a>
                            <a class="nav-link"
                               th:href="@{'/logout'}">[[#{navbar.choice.logout}]] </a></div>
                    </ul>
                </li>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                           th:href="@{'/products/add'}">[[#{navbar.choice.language.addProduct}]]</a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/products'}">[[#{navbar.choice.products}]]</a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/cart'}">[[#{navbar.choice.cart}]]</a>
                    </li>
                </div>


                <div sec:authorize="hasRole('ADMIN')">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">admin </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <a class="nav-link"
                               th:href="@{'admin/orders/'}">[[#{product.order}]] </a>

                            <a class="nav-link"
                               th:href="@{'admin/role'}">[[#{user.role}]] </a>

                            <a class="nav-link"
                               th:href="@{'admin/products'}">[[#{navbar.choice.products}]] </a>

                        </ul>
                    </li>
                </div>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page"
                       th:text="#{navbar.loggedAs}+ ${#authentication.getPrincipal().getUsername()}">
                    </a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col"> Id</th>
            <th scope="col">[[#{navbar.choice.products}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orders}">
            <th scope="row" th:text="${order.id}"></th>
            <th scope="row" th:text="${order.products}"></th>
        </tr>
        </tbody>
    </table>
    <a href="/">
        <button type="button" class="btn btn-primary" onclick="javascript:history.back()">
            [[#{product.button.back}]]
        </button>

    </a>
</div>
<a href="/">
    <button type="button" class="btn btn-primary" onclick="javascript:history.back()">[[#{product.button.back}]]
    </button>
</a>
<script th:src="@{~/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
