<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/webjars/font-awesome/5.15.4/css/all.min.css}"/>
</head>
<h1>[[#{navbar.choice.cart}]] : [[#{cart.sum}]] <a th:text="${sum}"></a></h1>
<body>
<p th:each="product: ${products}">
<td th:text="'name: ' + ${product.name}"></td>
<td th:text="'price: ' + ${product.price} + ' zł'"></td>
<td th:text="'description: ' + ${product.description}"></td>
<th><a th:href="@{'/cart/remove/'+${product.id}}" class="btn btn-danger"
       id="deleteButton">[[#{button.delete}]]</button></a></th>
</p>

<a href="/">
    <button type="button" class="btn btn-primary" onclick="javascript:history.back()">[[#{product.button.back}]]
    </button>
</a>
<a th:href="@{'cart/submit'}">
    <button type="button" class="btn btn-primary">[[#{order.submit}]]
    </button>
</body>
<script th:src="@{~/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</html>
