<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello reset password template

<p th:text="'http://localhost:8080/resetPassword/'+${token}"></p>
</body>
</html>